@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #111111;
    color: white;
   
}

*{
    scroll-behavior: smooth;
}

 input, textarea{
    outline: none;
}

.bgimages{
    background-image: url(./Images/full\ background.png);
    background-size: cover;

}
